@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
   --color-surface: #141414;
   --color-surface-container: #EEEDEB;
   --color-surface-inverse: #EEEDEB;
   --color-surface-inverse-container: #141414;
   --color-surface-variant: #262626;
   --color-on-surface: #EEEDEB;
   --color-on-surface-container: #141414;
   --color-on-surface--inverse: #141414;
   --color-on-surface-inverse-container: #EEEDEB;
   --color-primary: #FF9925;
   --color-on-primary: #EEEDEB;

   --font-crude: 'TSCrude', sans-serif;
   --font-cervanttis: 'Cervanttis', sans-serif;
   --font-jetbrains: 'JetBrains', sans-serif;
}

@font-face {
   font-family: TSCrude;
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("./lib/assets/fonts/TSCrude.woff2") format("woff2");
}

@font-face {
   font-family: Cervanttis;
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url("./lib/assets/fonts/Cervanttis.woff2") format("woff2");
}

@font-face {
   font-family: JetBrains;
   font-style: normal;
   font-weight: 400 700;
   font-display: swap;
   src: url("./lib/assets/fonts/JetBrainsMono.woff2") format("woff2");
}